.main {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container {
  background: #fff;
  border-radius: 5px;
  padding: 24px 18px;
  width: 100%;
  max-width: 360px !important;
}
